<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="/styles/home.css">
    </head>
    <body>
        <h1>Blog App</h1>
        <div id="blog-main-container">
            <% for (let blog of blogs) { %>
                <div class="blog-container">
                    <div class="blog-title"><%= blog.title %></div>
                    <div class="blog-content"><%= blog.content %></div>
                    <div class="blog-time"><%= blog.time %> <%= blog.author %></div>
                </div>
            <% } %>
            <form id="new-blog-container">
                <label for="new-author-name">Author Name:</label><br>
                <input type="text" id="new-author-name" name="author"><br>

                <label for="new-title">Blog Title:</label><br>
                <input type="text" id="new-title" name="title"><br>

                <label for="new-content">Blog Content:</label><br>
                <input type="text" id="new-content" name="content"><br>

                <input type="submit" value="Submit">
            </form>
        </div>
        <script src="/scripts/home.js"></script>
    </body>
</html>

